@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

/* Body et header */
body {
  background-image: linear-gradient(#1f1f1f 50%, #f3156c);
  margin: 0;
  font-family: "Oxanium",
    "Montserrat",
    sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem;
  height: 4rem;
}

button {
  background-color: #f3156c;
  display: inline-block;
  margin: 0;
  border: 4px;
  width: 150px;
  height: 3em;
  border-radius: 1em;
  font-size: larger;
  color: white;
  transition: all 0.5;
  cursor: pointer;
  font-family: "Oxanium";
}

img.logoW {
  margin-top: -5rem;
  border-radius: 8em;
  height: 150;
  padding-block: none;
  cursor: pointer;
  align-items: flex-start;
}

a {
  color: white;
  text-decoration: none;
}

.score {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.score>ul>#counter {
  margin-right: 1.5rem;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

ul {
  justify-content: center;

}

h1,
h2 {
  align-self: center;
}

li>img {
  background-image: linear-gradient(white, #f3156c 80%);
  border-radius: 50%;
  margin-right: 2rem;
}

li>img:active {
  background-color: #170202;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

section>a>img {
  width: 80px;
  height: auto;
  border-radius: 2em;
  background-image: #1f1f1f;
  margin-bottom: 1.5rem;
}

.Antho {
  height: 90px;
  width: auto;
}

section>a {
  color: white;
  text-decoration: none;
  background-color: #4e515bb8;
  border-radius: 30px;
  display: grid;
  height: 8rem;
  width: 25rem;
}

.bonus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  column-gap: 5rem;

  align-self: center;
  
  width: auto;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: smaller;
  width: auto;
  height: auto;
}

.container>img {
  justify-self: center;
  align-self: center;
}

.details {
  padding-right: 0;
}

.details>p {
  font-size: 0.7rem;
}


.allbonuses {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 4em;
  flex-wrap: wrap;
}

@media screen and (min-width:400px) {
  body {
    min-width: 90vh;
    height: 100%;
  }

  .bonus {
    min-width: 50vh;
    margin-right: 2em;
    margin-left: 2em;
  }
}

/* BUTTON POP UP */

#popup-overlay-option,
#popup-overlay-rules,
#popup-overlay-succes,
#popup-overlay-team {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  display: none;
  animation: popupanim 1.5s;
}

#popup-overlay-option.open,
#popup-overlay-rules.open,
#popup-overlay-succes.open,
#popup-overlay-team.open {
  display: block;
}


/* INTO THE POPUPS */

/* POP UP REGLE */
.popup-content-rules {
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border-radius: 30px;
  transition: top;
  opacity: 95%;
  background-image: linear-gradient(#1f1f1f 50%, #f3156c);
}

/* POP UP SUCCES */
.popup-content-succes {
  max-width: 1300px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border-radius: 30px;
  transition: top;
  opacity: 95%;
  background-image: linear-gradient(#1f1f1f 50%, #f3156c);
}

.popup-content-succes>.badges {
  font-size: 30px;
}

.popup-content-succes>.badges>p {
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
}

/* POP UP L'EQUIPE */
.popup-content-team {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border-radius: 30px;
  transition: top;
  opacity: 95%;
  background-image: linear-gradient(#1f1f1f 50%, #f3156c);
}

.popup-content-team>.pictures>img {
  border-radius: 30%;
  width: 150px;
  height: 150px;
}

/* POP UP OPTION */
.popup-content-option {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border-radius: 30px;
  transition: top;
  opacity: 95%;
  background-image: linear-gradient(#1f1f1f 50%, #f3156c);
}

/* BUTTON EXIT */

.popup-option-exit,
.popup-rules-exit,
.popup-succes-exit,
.popup-team-exit {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
}

/* ANIMATION BUTTON */

@keyframes popupanim {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* CLASS CHANGES */

.available {
  color: #3e8e41;
}

.unavailable {
  color: red;
}